{% extends "base.html" %}

{% block content %}
<link href="../lib/css/emoji.css" rel="stylesheet">
<div class="container text-center"><br>
    <div class="row">
        <div class="col-md-4">
            <h1>Direct Message
                </h2>
                {% for post in images %}
                <div>
                    {% if image.profile_pic %}
                    <img src="{{image.profile_pic.url}}" class="rounded-circle" style=" width:80px;height:80px;"
                        alt="Profile dp" />
                    {{image.profile.username}}</a>
                    {% else %}
                    <img src="/static/images/IMG_2046.jpg" class="rounded-circle" style=" width:80px;height:80px;"
                        alt="avatar">
                    {{image.profile.username}}</a>
                    {% endif %}
                    <h3> {{post.profile.user.username}} {{post.user}}</h3>
                    <p><b>{{user.username}}</b> </p>
                    <p>{{post.created_date}}
                    <p>
                </div>
                <hr>
                {% endfor %}

        </div>
        <div class="col-md-8">
            <p class='text-muted'>Share private photos and messages with your friend or group.</p>
            <form id="message-form">
                <div class="form-group form-inline">
                    <input type="text" class="form-control" placeholder="To..." name="input1" id="input1" size="25"
                        required>
                </div>
                <div class="form-group">
                    <p class="lead emoji-picker-container">
                        <textarea class="form-control" rows="7" id="comment" placeholder="Write message..."
                            data-emojiable="true" maxlength="10"></textarea>
                </div>
                <button type="submit" id="button" class="btn btn-primary col-md-2">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}