<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-info" id="navMain">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}"><i class="fa fa-instagram" style='font-size:40px;color:black;font-family: ui-monospace;'> |
                instagram</i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="container-fluid">
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="text-center">
                        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
                            <input style="text-align: center;" class="form-control" name="username" type="search"
                                placeholder="Search... " aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
            {%endif%}
            {% if request.user.is_authenticated %}
            <a class="nav-link open-nav" href="{% url 'upload_image'%}">
                <i class="fa fa-upload" style="font-size: 30px;color: black; padding-right:10px;"></i></a>
            {%endif%}
            <!-- <a class="navbar-brand" href="{% url 'messages' %}"><i class="fa fa-paper-plane" -->
                    </i></a>
            <a class="navbar-brand" href="{% url 'explore' %}"><i class="fa fa-compass"
                    style="font-size:40px;padding-right:10px;color:black;"></i></a>
            <ul class="navbar-nav ml-auto" style="list-style: none">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link open-nav" href="{% url 'showprofile' request.user.id %}"><i class="fa fa-user"
                            style="font-size:30px;color:black;padding-right: 20px;"></i></a>
                            {% endif %}
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto" style="list-style: none; color: black; padding-left: 10px;">
                <li> <a href="accounts/logout">Logout</a></li>
            </ul>
            {%endif%}
        </div>
    </div>
</nav>